*__target__
*__pycache__
*build
*dist
MetricsCyclomaticComplexity.txt
MetricsMaintainabilityIndex.txt
MetricsRaw.txt
.python-version
.DS_Store

# zstd js lib
web_page/Javascript/lib/zstd_webpacked.js
web_page/Javascript/lib/*.wasm