
@font-face {
	font-family: 'NotoSansJP_400';
	src: url('../../resource/fonts/NotoSansJP_400.ttf');
}

@font-face {
	font-family: 'NotoSansJP_700';
	src: url('../../resource/fonts/NotoSansJP_700.ttf');
}